footer {
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: $dark-color;
  border-top:2px dotted $secondary-color;

  [class^="icon-"]:before, [class*=" icon-"]:before {
      color: $secondary-color;
      width: 1.5em;
      font-size: 3em;

      @media (min-width:320px){
          font-size: 2.5em;
          padding: 3em;
      }

      :hover {
          transform:scale(1,1)
      }
  }

  h3 {
      color:$primary-color;
      font-size: 2em;
      padding-bottom: .3em;

      :hover{
          transform:scale(1,1);
      }

      @media (min-width:320px) {
          font-size: 1.3em;
          font-style: italic;
          padding-top: 1em;
      }

  }
 

  p {
      color: $secondary-color;
      @media (min-width:320px) {
          font-size: .5em;
          padding-bottom: 3em;
      }
      @media (min-width:600px) {
        font-size: .7em;
        padding-bottom: 3em;
    }
  }

}
