.stack {
  width: 100vw;
  background-color: $secondary-color;
  @media (min-width: 320px) {
    padding: 0 1em;
  }
  @media (min-width: 999px) {
    padding: 0 2em;
  }

  h2 {
    text-align: center;
    color: $primary-color;
    @media (min-width: 320px) {
      padding: 1em 0 0;
    }
  }

  .icons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    @media (min-width: 320px) {
      font-size:1em;
   }
    @media (min-width: 425px) {
       //font-size:.9em;
    }

    // .fab{
    //   transition: all .3s ease-in-out;
    //   &:hover{
    //     transform: scale(1.1);
    //   }
    // }

    &__1 {
      display: flex;
      justify-content: space-between;
      @media (min-width: 320px) {
        padding: 1em;
      }
      @media (min-width: 425px) {
        padding: 1em 2em;
      }
      @media (min-width: 600px) {
        padding: 1em 3em;
      }
      @media (min-width: 768px) {
        padding: 1em 4em;
      }
      @media (min-width: 900px) {
        padding: 1em 8em;
      }
      @media (min-width: 1024px) {
        padding: 1em 8em;
      }
      @media (min-width: 1300px) {
        padding: 2em 10em;
      }
    }

    &__2 {
      display: flex;
      justify-content: space-around;
      @media (min-width: 320px) {
        padding: 1em;
      }
      @media (min-width: 425px) {
        padding: 0em 2em;
      }
      @media (min-width: 600px) {
        padding: 0em 3em;
      }
      @media (min-width: 768px) {
        padding: 0em 4em;
      }
      @media (min-width: 900px) {
        padding: 0em 8em;
      }
      @media (min-width: 1024px) {
        padding: 0em 8em;
      }
      @media (min-width: 1300px) {
        padding: 2em 10em;
      }
    }

    &__3 {
      display: flex;
      justify-content: space-between;
      @media (min-width: 320px) {
        padding: 1em;
      }
      @media (min-width: 425px) {
        padding: 1em 2em;
      }
      @media (min-width: 600px) {
        padding: 1em 3em;
      }
      @media (min-width: 768px) {
        padding: 1em 4em;
      }
      @media (min-width: 900px) {
        padding: 1em 8em;
      }
      @media (min-width: 1024px) {
        padding: 1em 8em;
      }
      @media (min-width: 1300px) {
        padding: 2em 10em;
      }
    }

    &__4 {
      display: flex;
      justify-content: space-around;
      @media (min-width: 320px) {
        padding: 1em;
      }
      @media (min-width: 425px) {
        padding: 0em 2em;
      }
      @media (min-width: 600px) {
        padding: 0em 3em;
      }
      @media (min-width: 768px) {
        padding: 0em 4em;
      }
      @media (min-width: 900px) {
        padding: 0em 8em;
      }
      @media (min-width: 1024px) {
        padding: 0em 8em;
      }
      @media (min-width: 1300px) {
        padding: 2em 10em;
      }
    }

    &__5 {
      display: flex;
      justify-content: space-between;
      transition: all 0.3s ease-in-out;
      @media (min-width: 320px) {
        padding: 1em;
      }
      @media (min-width: 425px) {
        padding: 1em 2em;
      }
      @media (min-width: 600px) {
        padding: .5em 3em;
      }
      @media (min-width: 768px) {
        padding: .5em 4em;
      }
      @media (min-width: 900px) {
        padding: 1em 8em;
      }
      // @media (min-width: 1024px) {
      //   padding: 1em 8em;
      // }
      @media (min-width: 1300px) {
        padding: 1em 10em;
      }

      img {
        @media (min-width: 320px) {
          width: 4em;
        }
        @media (min-width: 600px) {
          width: 4.5em;
        }
        @media (min-width: 1300px) {
          width: 5em;
        }
        height: auto;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    &__6 {
      display: flex;
      justify-content: space-around;
      transition: all 0.3s ease-in-out;
      @media (min-width: 320px) {
        padding: 0 1.5em 1.5em;
      }
      @media (min-width: 425px) {
        padding: 0 1.5em 2em;
      }
      @media (min-width: 600px) {
        padding: 0 1.5em 2em;
      }
      @media (min-width: 768px) {
        padding: 0 1.5em 2em;
      }
      @media (min-width: 900px) {
        padding: 1em 1.5em 2em;
      }
      img {
        @media (min-width: 320px) {
          width: 3.5em;
        }
        @media (min-width: 600px) {
          width: 4.5em;
        }
        @media (min-width: 1300px) {
          width: 5em;
        }
        

        height: auto;
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .fab {
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }

    @media (min-width: 320px) {
      font-size: 3em;
    }
    @media (min-width: 425px) {
      font-size: 4em;
    }
    @media (min-width: 1000px) {
      font-size: 4.4em;
    }
    @media (min-width: 1300px) {
      font-size: 6em;
    }
  }
}
